{% extends 'messages/base.html' %}

{% block messages %}
<h2>{{ folder }}</h2>
{% if page_obj %}
    {% if folder == 'sent' %}
    {% for message in page_obj %}
    <div class="message">
        <div class="message-info">sent to {{ message.sent_to }} {{ message.when }}</div>
        <div class="message-body">{{ message.message_text }}</div>
    </div>
    {% endfor %}
    {% endif %}
    {% if folder == 'received' %}
    {% for message in page_obj %}
    <div class="message">
        <div class="message-info">sent from {{ message.sent_by }} {{ message.when }}</div>
        <div class="message-body">{{ message.message_text }}</div>
    </div>
    {% endfor %}
    {% endif %}
{% else %}
    there is nothing here
{% endif %}
{% endblock %}