<div class="px-4">
    <form action="" method="post">
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit" value="send" class="btn btn-textbox border m-0 mt-2 p-0 px-2 border-border text-muted fw-semibold" style="border-radius: 3px">
    </form>
</div>
{% if post.comment_count > 0 %}
    <div class="comment-list mt-2">
        {% for c in comments %}
            <div id="infoComment{{ c.id }}" class="hidden">    
                <small class="d-inline-flex pe-2 py-2">
                    <div class="mx-2 fw-bold link-fade" id="showComment{{ c.id }}" onclick="showComment(id)"><svg width="11px" height="11px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" /></svg></div>
                    <a href={% url 'profile' c.created_by %} class="fw-semibold link-underline me-1">{{ c.created_by }}</a>
                    <div class="text-muted">· {{ c.when }}</div>
                </small>
            </div>
            <div class="comment d-flex flex-row">
                <div id="hideComment{{ c.id }}" class="hide-comment p-2 py-3 h-auto" style="cursor: pointer" onclick="hideComment(id)"><div class="vr h-100"></div></div>
                <div id="comment{{ c.id }}">
                    <div class="d-flex flex-column p-2 mx-1">
                        {% include "posts/comment/comment_snippet.html" %}
                        {% if c.replies.all %}
                            <div class="comment-replies ms-2">
                                {% for cr in c.replies.all %}
                                    <div id="infoComment{{ cr.id }}" class="hidden">    
                                        <small class="d-inline-flex pt-1">
                                            <div class="mx-2 fw-semibold" id="showComment{{ cr.id }}" style="cursor: pointer" onclick="showComment(id)"><svg width="11px" height="11px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
                                              </svg>
                                              </div>
                                            <a href={% url 'profile' cr.created_by %} class="fw-semibold link-underline me-1">{{ cr.created_by }}</a>
                                            <div class="text-muted">· {{ cr.when }}</div>
                                        </small>
                                    </div>  
                                    <div class="d-flex flex-row p-1">
                                        <div id="hideComment{{ cr.id }}" class="hide-comment p-2 py-2 me-2 h-auto" style="cursor: pointer" onclick="hideComment(id)">
                                            <div class="vr h-100"></div>
                                        </div>
                                        <div id="comment{{ cr.id }}">
                                            {% include "posts/comment/comment_snippet.html" with c=cr %}
                                        </div>
                                    </div>
                                {% endfor %}  
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}