{% extends 'posts/base.html' %}

{% block content %}
<div class="subreddit-header d-flex position-relative bg-post w-100 pb-4 pt-3 px-5 mt-3 mb-2">
    <a href={% url 'subreddit' post.subreddit %} class="stretched-link"></a>
    <h1 class="display-3">r/{{ post.subreddit }}</h1>
</div>
<div class="row justify-content-center m-4">
    <div class="col-lg-6 bg-post rounded px-0">
        <div class="post d-flex flex-row">
            <div class="votes-container">
                <div class="votes d-flex flex-column">
                    <form action={% url 'post_vote' post.subreddit.url post.url %} method="post">
                        {% csrf_token %}
                        <input type="hidden" name="vote" value="+1">
                        <input class="upvote btn btn-sm btn-vote btn-outline-* link-fade" type="submit" value="🡅">
                    </form>
                    <div class="score mx-auto fw-bold">{{ post.vote_total }}</div>
                    <form action={% url 'post_vote' post.subreddit.url post.url %} method="post">
                        {% csrf_token %}
                        <input type="hidden" name="vote" value="-1">
                        <input class="downvote btn btn-sm btn-vote btn-outline-* link-fade" type="submit" value="🡇">
                    </form>
                </div>
            </div>
            <div class="post-details w-100 mt-1 pe-3">
                <div class="post-details container d-flex flex-column p-0 m-0">
                    <div class="post-info">
                        <small class="text-muted">
                        posted {{ post.when }} 
                        by <a class="text-muted link-underline" href={% url 'profile' post.created_by %}>{{ post.created_by }}</a>
                        </small>
                    </div>
                    <div class="post-body ms-1 px-1 pt-1">
                        <h4 class="mb-1">{{ post.post_title }}</h4>
                        {% if post.post_image.url != None %}
                            <div class="w-100 d-flex justify-content-center">
                                <img class="image-detail img-fluid rounded-1 m-2" src={{ post.post_image.url }}>
                            </div>
                        {% endif %}
                        {% if post.post_body != '' %}
                            <p class="text-wrap text-break pb-1 fw-light">{{ post.post_body }}</p>
                        {% endif %}
                    </div>
                    <div class="d-inline-flex px-1">
                        <div class="px-1 text-muted fw-semibold">
                            <small>{{ post.comment_count }} comments</small>
                        </div>
                        <!-- <div class="px-1">
                            <small><a class="link-underline text-muted fw-semibold" href={% url 'awards_send' %}>award</a></small>
                        </div> -->
                        {% if can_delete_post %}
                            {% include "posts/post/post_delete.html" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <hr class="mx-3 mt-2"/>
        <div class="comments pb-3 px-3 w-100">
            {% if comment %}
                {% include 'posts/comment/comment_view.html' with c=comment %}
            {% else %}
                {% include 'posts/comment/comments.html' %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}