
/*------------------------------------
- COLOR background
------------------------------------*/
.alert-primary {
    color: #000000;
    background-color: #696969;
    border-color: #5e5e5e;
}

.alert-primary hr {
    border-top-color: #525252;
}

.alert-primary .alert-link {
    color: #000000;
}

.badge-primary {
    color: #fff;
    background-color: #030303;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #fff;
    background-color: #000000;
}

.bg-primary {
    background-color: #030303 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #000000 !important;
}

.border-primary {
    border-color: #030303 !important;
}

.btn-primary {
    color: #fff;
    background-color: #030303;
    border-color: #030303;
}

.btn-primary:hover {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(3, 3, 3, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #030303;
    border-color: #030303;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(3, 3, 3, 0.5);
}

.btn-outline-primary {
    color: #030303;
    background-color: transparent;
    border-color: #030303;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #030303;
    border-color: #030303;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(3, 3, 3, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #030303;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #030303;
    border-color: #030303;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(3, 3, 3, 0.5);
}

.list-group-item-primary {
    color: #000000;
    background-color: #5e5e5e;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #000000;
    background-color: #525252;
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #5e5e5e;
}

.table-hover .table-primary:hover {
    background-color: #525252;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #525252;
}

.text-primary {
    color: #D7DADC !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #000000 !important;
}


/*------------------------------------
- COLOR secondary
------------------------------------*/
.alert-secondary {
    color: #000000;
    background-color: #7e7e82;
    border-color: #747478;
}

.alert-secondary hr {
    border-top-color: #67676b;
}

.alert-secondary .alert-link {
    color: #000000;
}

.badge-secondary {
    color: #fff;
    background-color: #1A1A1B;
}

.badge-secondary[href]:hover, .badge-secondary[href]:focus {
    color: #fff;
    background-color: #000001;
}

.bg-secondary {
    background-color: #1A1A1B !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
    background-color: #000001 !important;
}

.border-secondary {
    border-color: #1A1A1B !important;
}

.btn-secondary {
    color: #fff;
    background-color: #1A1A1B;
    border-color: #1A1A1B;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #080808;
    border-color: #000001;
}

.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(26, 26, 27, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #1A1A1B;
    border-color: #1A1A1B;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #000001;
    border-color: #000000;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(26, 26, 27, 0.5);
}

.btn-outline-secondary {
    color: #1A1A1B;
    background-color: transparent;
    border-color: #1A1A1B;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #1A1A1B;
    border-color: #1A1A1B;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(26, 26, 27, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #1A1A1B;
    background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #1A1A1B;
    border-color: #1A1A1B;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(26, 26, 27, 0.5);
}

.list-group-item-secondary {
    color: #000000;
    background-color: #747478;
}

.list-group-item-secondary.list-group-item-action:hover, .list-group-item-secondary.list-group-item-action:focus {
    color: #000000;
    background-color: #67676b;
}

.list-group-item-secondary.list-group-item-action.active {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
    background-color: #747478;
}

.table-hover .table-secondary:hover {
    background-color: #67676b;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
    background-color: #67676b;
}

.text-secondary {
    color: #60686F !important;
}

a.text-secondary:hover, a.text-secondary:focus {
    color: #000001 !important;
}


/*------------------------------------
- COLOR post
------------------------------------*/
.alert-post {
    color: #000000;
    background-color: #79797f;
    border-color: #6f6f74;
}

.alert-post hr {
    border-top-color: #636367;
}

.alert-post .alert-link {
    color: #000000;
}

.badge-post {
    color: #fff;
    background-color: #161617;
}

.badge-post[href]:hover, .badge-post[href]:focus {
    color: #fff;
    background-color: #000000;
}

.bg-post {
    background-color: #161617 !important;
}

a.bg-post:hover, a.bg-post:focus,
button.bg-post:hover,
button.bg-post:focus {
    background-color: #000000 !important;
}

.border-post {
    border-color: #161617 !important;
}

.btn-post {
    color: #fff;
    background-color: #161617;
    border-color: #161617;
}

.btn-post:hover {
    color: #fff;
    background-color: #040404;
    border-color: #000000;
}

.btn-post:focus, .btn-post.focus {
    box-shadow: 0 0 0 0.2rem rgba(22, 22, 23, 0.5);
}

.btn-post.disabled, .btn-post:disabled {
    color: #fff;
    background-color: #161617;
    border-color: #161617;
}

.btn-post:not(:disabled):not(.disabled):active, .btn-post:not(:disabled):not(.disabled).active, .show > .btn-post.dropdown-toggle {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-post:not(:disabled):not(.disabled):active:focus, .btn-post:not(:disabled):not(.disabled).active:focus, .show > .btn-post.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(22, 22, 23, 0.5);
}

.btn-outline-post {
    color: #161617;
    background-color: transparent;
    border-color: #161617;
}

.btn-outline-post:hover {
    color: #fff;
    background-color: #161617;
    border-color: #161617;
}

.btn-outline-post:focus, .btn-outline-post.focus {
    box-shadow: 0 0 0 0.2rem rgba(22, 22, 23, 0.5);
}

.btn-outline-post.disabled, .btn-outline-post:disabled {
    color: #161617;
    background-color: transparent;
}

.btn-outline-post:not(:disabled):not(.disabled):active, .btn-outline-post:not(:disabled):not(.disabled).active, .show > .btn-outline-post.dropdown-toggle {
    color: #fff;
    background-color: #161617;
    border-color: #161617;
}

.btn-outline-post:not(:disabled):not(.disabled):active:focus, .btn-outline-post:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-post.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(22, 22, 23, 0.5);
}

.list-group-item-post {
    color: #000000;
    background-color: #6f6f74;
}

.list-group-item-post.list-group-item-action:hover, .list-group-item-post.list-group-item-action:focus {
    color: #000000;
    background-color: #636367;
}

.list-group-item-post.list-group-item-action.active {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.table-post,
.table-post > th,
.table-post > td {
    background-color: #6f6f74;
}

.table-hover .table-post:hover {
    background-color: #636367;
}

.table-hover .table-post:hover > td,
.table-hover .table-post:hover > th {
    background-color: #636367;
}

.text-post {
    color: #161617 !important;
}

a.text-post:hover, a.text-post:focus {
    color: #000000 !important;
}


/*------------------------------------
- COLOR textbox
------------------------------------*/
.alert-textbox {
    color: #000000;
    background-color: #8b8b90;
    border-color: #808086;
}

.alert-textbox hr {
    border-top-color: #74747a;
}

.alert-textbox .alert-link {
    color: #000000;
}

.badge-textbox {
    color: #fff;
    background-color: #272729;
}

.badge-textbox[href]:hover, .badge-textbox[href]:focus {
    color: #fff;
    background-color: #0e0e0e;
}

.bg-textbox {
    background-color: #272729 !important;
}

a.bg-textbox:hover, a.bg-textbox:focus,
button.bg-textbox:hover,
button.bg-textbox:focus {
    background-color: #0e0e0e !important;
}

.border-textbox {
    border-color: #272729 !important;
}

.btn-textbox {
    color: #fff;
    background-color: #272729;
    border-color: #272729;
}

.btn-textbox:hover {
    color: #fff;
    background-color: #151516;
    border-color: #0e0e0e;
}

.btn-textbox:focus, .btn-textbox.focus {
    box-shadow: 0 0 0 0.2rem rgba(39, 39, 41, 0.5);
}

.btn-textbox.disabled, .btn-textbox:disabled {
    color: #fff;
    background-color: #272729;
    border-color: #272729;
}

.btn-textbox:not(:disabled):not(.disabled):active, .btn-textbox:not(:disabled):not(.disabled).active, .show > .btn-textbox.dropdown-toggle {
    color: #fff;
    background-color: #0e0e0e;
    border-color: #060607;
}

.btn-textbox:not(:disabled):not(.disabled):active:focus, .btn-textbox:not(:disabled):not(.disabled).active:focus, .show > .btn-textbox.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(39, 39, 41, 0.5);
}

.btn-outline-textbox {
    color: #272729;
    background-color: transparent;
    border-color: #272729;
}

.btn-outline-textbox:hover {
    color: #fff;
    background-color: #272729;
    border-color: #272729;
}

.btn-outline-textbox:focus, .btn-outline-textbox.focus {
    box-shadow: 0 0 0 0.2rem rgba(39, 39, 41, 0.5);
}

.btn-outline-textbox.disabled, .btn-outline-textbox:disabled {
    color: #272729;
    background-color: transparent;
}

.btn-outline-textbox:not(:disabled):not(.disabled):active, .btn-outline-textbox:not(:disabled):not(.disabled).active, .show > .btn-outline-textbox.dropdown-toggle {
    color: #fff;
    background-color: #272729;
    border-color: #272729;
}

.btn-outline-textbox:not(:disabled):not(.disabled):active:focus, .btn-outline-textbox:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-textbox.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(39, 39, 41, 0.5);
}

.list-group-item-textbox {
    color: #000000;
    background-color: #808086;
}

.list-group-item-textbox.list-group-item-action:hover, .list-group-item-textbox.list-group-item-action:focus {
    color: #000000;
    background-color: #74747a;
}

.list-group-item-textbox.list-group-item-action.active {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.table-textbox,
.table-textbox > th,
.table-textbox > td {
    background-color: #808086;
}

.table-hover .table-textbox:hover {
    background-color: #74747a;
}

.table-hover .table-textbox:hover > td,
.table-hover .table-textbox:hover > th {
    background-color: #74747a;
}

.text-textbox {
    color: #272729 !important;
}

a.text-textbox:hover, a.text-textbox:focus {
    color: #0e0e0e !important;
}


/*------------------------------------
- COLOR border
------------------------------------*/
.alert-border {
    color: #000000;
    background-color: #999b9c;
    border-color: #8e9092;
}

.alert-border hr {
    border-top-color: #818486;
}

.alert-border .alert-link {
    color: #000000;
}

.badge-border {
    color: #fff;
    background-color: #343536;
}

.badge-border[href]:hover, .badge-border[href]:focus {
    color: #fff;
    background-color: #1a1b1c;
}

.bg-border {
    background-color: #343536 !important;
}

a.bg-border:hover, a.bg-border:focus,
button.bg-border:hover,
button.bg-border:focus {
    background-color: #1a1b1c !important;
}

.border-border {
    border-color: #343536 !important;
}

.btn-border {
    color: #fff;
    background-color: #343536;
    border-color: #343536;
}

.btn-border:hover {
    color: #fff;
    background-color: #222323;
    border-color: #1a1b1c;
}

.btn-border:focus, .btn-border.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 53, 54, 0.5);
}

.btn-border.disabled, .btn-border:disabled {
    color: #fff;
    background-color: #343536;
    border-color: #343536;
}

.btn-border:not(:disabled):not(.disabled):active, .btn-border:not(:disabled):not(.disabled).active, .show > .btn-border.dropdown-toggle {
    color: #fff;
    background-color: #1a1b1c;
    border-color: #131314;
}

.btn-border:not(:disabled):not(.disabled):active:focus, .btn-border:not(:disabled):not(.disabled).active:focus, .show > .btn-border.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 53, 54, 0.5);
}

.btn-outline-border {
    color: #343536;
    background-color: transparent;
    border-color: #343536;
}

.btn-outline-border:hover {
    color: #fff;
    background-color: #343536;
    border-color: #343536;
}

.btn-outline-border:focus, .btn-outline-border.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 53, 54, 0.5);
}

.btn-outline-border.disabled, .btn-outline-border:disabled {
    color: #343536;
    background-color: transparent;
}

.btn-outline-border:not(:disabled):not(.disabled):active, .btn-outline-border:not(:disabled):not(.disabled).active, .show > .btn-outline-border.dropdown-toggle {
    color: #fff;
    background-color: #343536;
    border-color: #343536;
}

.btn-outline-border:not(:disabled):not(.disabled):active:focus, .btn-outline-border:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-border.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 53, 54, 0.5);
}

.list-group-item-border {
    color: #000000;
    background-color: #8e9092;
}

.list-group-item-border.list-group-item-action:hover, .list-group-item-border.list-group-item-action:focus {
    color: #000000;
    background-color: #818486;
}

.list-group-item-border.list-group-item-action.active {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.table-border,
.table-border > th,
.table-border > td {
    background-color: #8e9092;
}

.table-hover .table-border:hover {
    background-color: #818486;
}

.table-hover .table-border:hover > td,
.table-hover .table-border:hover > th {
    background-color: #818486;
}

.text-border {
    color: #343536 !important;
}

a.text-border:hover, a.text-border:focus {
    color: #1a1b1c !important;
}

