@import "./bootstrap/functions";
@import "./bootstrap/variables";
@import "./bootstrap/mixins";

$body-color: #D7DADC;

$custom-colors: (
    'primary': #030303,
    'secondary': #1A1A1B,
    'post': #161617,
    'border': #343536,
    'textbox': #272729,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import './bootstrap/bootstrap';