html{
    background-color: #030303
}

body{
    font-family: 'Source Sans Pro', 'sans-serif';
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    color: rgb(215,218,220);
}

.home-container, .subreddit-container{
    max-width: 1800px;
}

.post-title{
    font-weight: normal;
}

a, a:visited, a:focus{
    text-decoration: none;
    color: rgb(215,218,220);
    outline: none !important;
    border: none !important;
}

.link-underline:hover{
    text-decoration: underline;
    cursor: pointer;
 }

.link-fade:hover{
    color:grey;
    cursor: pointer;
}

.upvote:hover{
    color: rgb(73, 79, 175);
    cursor: pointer;
}

.downvote:hover{
    color: rgb(189, 46, 46);
    cursor: pointer;
}

.hide-comment:hover, .hide-comment:hover .vr{
    color: red;
}

p{
    margin: 0;
    padding: 0;
    color: rgb(215,218,220);
}

@media screen and (min-device-width: 768px){ 
    .content{
        padding-top: 52px; 
    }
}

.mobile-dropdown{
    width: 75vw;
    max-height: 85vh;
    overflow-x: hidden; 
    -webkit-box-shadow: 0px 0px 48px 17px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 48px 17px rgba(0,0,0,1);
    box-shadow: 0px 0px 48px 17px rgba(0,0,0,1);
}

div.post-info{
    margin-left: 10px;
}

.form-control:hover, .form-control:focus{
    box-shadow: inset 0 0 3px 1px grey;
}

.form-post-title{
    max-height: 38px;
}

.form-post-body{
    border-radius: 0 0 8px 8px;
}

.form-post-image{
    padding: 6px;
    border-radius: 0 0 8px 8px;
}

.comment-form{
    padding: 6px;
    border-radius: 3px;
}

#image-tab{
    border-radius: 0 8px 0 0;
    border-color: #4b4d4e;
    border-width: 1px 1px 0 0;
}

#text-tab{
    border-radius: 8px 0 0 0;
    border-color: #4b4d4e;
    border-width: 1px 1px 0 1px;
}

#image-tab.active,#text-tab.active{
    box-shadow: inset 0 -2px 0 0 grey;
}

#image-tab:hover,#text-tab:hover{
    box-shadow: inset 0 0 3px 1px grey;
}

.nav-link h6{
    color: rgb(107,116,124)
}

.nav-link.active h6{
    color: rgb(215,218,220);
}

li.dropdown a.nav-link{
    color: rgb(215,218,220);
}

li.dropdown a.nav-link.link-fade:hover{
    color: grey;
}

a.dropdown-item:hover{
    background: #272729;
    color: rgb(215,218,220);
}

hr{
    border-color: #4b4d4e;
}

.file-droppable {
    background: #272729;
    border-style: dashed;
    border-width: 4px 4px 4px 4px;
    border-color: #4b4d4e;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    min-height: 400px;
    position: relative;
  }
  
.file-droppable.filled {
    background: #272729;
    border: solid 1px #4b4d4e;
    border-radius: 0 0 8px 8px;
    }

.file-droppable:after {
    position: absolute;
    left: 13px;
    top: 38px;
    font-size: 10px;
    font-weight: bold;
    }

.file-droppable::before {
    content: " ";
    display: inline-block;
    height: 100%;
    width: 1%;
    vertical-align: middle;
    }

.file-droppable div {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    overflow: hidden;
    word-break: break-all;
    }

.file-droppable span {
    position: absolute;
    font-weight: bold;
    right: 5px;
    top: -5px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    display: none;
    }

.file-droppable input {
    position: absolute;
    z-index: 3;
    display: block;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    }

img.image-upload-preview{
    max-width: 300px;
    max-height: 300px;
}

img{
    max-height: 75vh;
}

.navbar-brand{
    left: 50%;
    transform: translateX(-50%);
}