{% extends 'posts/base.html' %}

{% block content %}
<div class="container home-container">
    <div class="row justify-content-around">
        <div class="sidebar-left p-2 col-lg-2">
            <div class="container p-2">
                <div class="bg-secondary rounded border border-border p-2">
                    <h5 class="p-1 fw-semibold">Welcome To My Website</h5>
                    <p class="p-1">This is my recreation of <a class="text-muted link-underline" href="https://www.reddit.com" title="Reddit">Reddit</a>. It's a forum website with user created and managed sub-forums (Subreddits) - with some additional features.</p>
                    <p class="p-1">You are currently at the home page, viewing all posts regardless of Subreddit.</p>
                    <p class="p-1">Use the navigation bar above to view Subreddits and the posts within them, or Sign Up to create your own.</p>
                    <p class="p-1">View the github repo <a class="text-muted link-underline" href="https://github.com/jdvsn/reddit">here.</a>
                </div>
            </div>
        </div>
        <div class="posts col-lg-6">
            <div class="container d-flex flex-column p-2">
                <div class="header-container p-2">
                    <header class="sort rounded bg-post border border-border d-inline-flex justify-content-between w-100">
                        <div class="d-inline-flex align-items-center">
                            <a class="link-fade p-2" href={% url 'home_top' %}>top</a>
                            <a class="link-fade p-2" href={% url 'home_new' %}>new</a>
                        </div>
                        <a class="link-fade p-2" href={% url 'home_submit' %}>submit</a>
                    </header>
                </div>
                {% for post in page_obj %}
                    {% include "posts/post/post_snippet.html" with home=True %}
                {% endfor %}
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.paginator.num_pages > 2 %}
                            <a href="?page=1">&laquo; first</a>
                        {% endif %}
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        {% if page_obj.paginator.num_pages > 1 %}
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                        {% if page_obj.paginator.num_pages > 2 %}
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="sidebar-right col-lg-2"></div>
    </div>
</div>
{% endblock %}