{% extends 'posts/base.html' %}

{% block content %}
<header class="subreddit">
    <h1><a href={% url 'subreddit' post.subreddit.url %}>r/{{ post.subreddit.subreddit_name }}</a></h1>
</header>

<div class="post-detail">
    <div class="the-post">
        <div class="votes">
            <form action={% url 'post_vote' post.subreddit.url post.url %} method="post">
                {% csrf_token %}
                <input type="hidden" name="vote" value="up">
                <input class="upvote" type="submit" value="▲">
            </form>
            <div class="post-score">{{ post.vote_total }}</div>
            <form action={% url 'post_vote' post.subreddit.url post.url %} method="post">
                {% csrf_token %}
                <input type="hidden" name="vote" value="down">
                <input class="downvote" type="submit" value="▼">
            </form>
        </div>
        <div>
            <div class="postinfo">Posted by {{ post.created_by }} {{ post.when }}</div>
            <div class="post-body">
                <h2>{{ post.post_title }}</h2>
                {% if post.post_body != '' %}
                    {{ post.post_body }}
                {% endif %}
                {% if post.post_image.url != None %}
                    <img class="image-detail" src={{ post.post_image.url }}>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="comments">
        <p>Comments ({{ post.comment_count }}) :</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="submit" value="Submit">
        </form>

        <ul class="comment-list">
            {% for c in post.comments.all %}
            {% if c.reply == None %}
            <li class="comment">
                <p>{{ c.comment_text }}</p>
                <div class="votes">
                    <form action={% url 'comment_vote' post.subreddit.url post.url c.id %} method="post">
                        {% csrf_token %}
                        <input type="hidden" name="vote" value="up">
                        <input class="upvote" type="submit" value="▲">
                    </form>
                    <form action={% url 'comment_vote' post.subreddit.url post.url c.id %} method="post">
                        {% csrf_token %}
                        <input type="hidden" name="vote" value="down">
                        <input class="downvote" type="submit" value="▼">
                    </form>
                </div>
                <details>
                    <summary>Reply | {{ c.vote_total }} points | {{ c.when }} by {{ c.created_by }}</summary>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                        <input type="hidden" name="reply_id" value="{{ c.id }}">
                        <button class="btn btn-primary mt-md-1" type="submit" value="Reply">Reply</button>
                    </form>
                </details>
                <ul class="comment-replies">
                    {% for cr in c.replies.all %}  
                    <li class="comment=reply">
                        <p> {{ cr.comment_text }}</p>
                        <div class="votes">
                            <form action={% url 'comment_vote' post.subreddit.url post.url cr.id %} method="post">
                                {% csrf_token %}
                                <input type="hidden" name="vote" value="up">
                                <input class="upvote" type="submit" value="▲">
                            </form>
                            <form action={% url 'comment_vote' post.subreddit.url post.url cr.id %} method="post">
                                {% csrf_token %}
                                <input type="hidden" name="vote" value="down">
                                <input class="downvote" type="submit" value="▼">
                            </form>
                        </div>
                        {{ cr.vote_total }} points | {{ cr.when }} by {{ cr.created_by }}
                    </li>
                    {% endfor %}  
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}