{% extends 'posts/base.html' %}

{% block content %}
<header class="subreddit">
    <h1>r/{{ object.subreddit_name }}</h1>
</header>
<div class="posts">
    <header class="sort">
        <div class="sort">
            <div>
                <a href={% url 'subreddit_top' object.url %}>top</a>
            </div>
            <div>
                <a href={% url 'subreddit_new' object.url %}>new</a>
            </div>
        </div>
        <div class="submit">
            <a href={% url 'post_create' object.url %}> Submit a post</a>
        </div>
    </header>
   {% block filter %}
   {% endblock %}
</div>

{% endblock %}