{% extends 'posts/subreddit_base.html' %}

{% block posts %}
{% for post in page_obj %}
<div class="post">
    <div class="votes">
        <form action={% url 'post_vote' post.subreddit.url post.url %} method="post">
            {% csrf_token %}
            <input type="hidden" name="vote" value="+1">
            <input class="upvote" type="submit" value="▲">
        </form>
        <div class="score">{{ post.vote_total }}</div>
        <form action={% url 'post_vote' post.subreddit.url post.url %} method="post">
            {% csrf_token %}
            <input type="hidden" name="vote" value="-1">
            <input class="downvote" type="submit" value="▼">
        </form>
    </div>
    <div class="postdetails">
        <div class="postinfo">{{ post.when }} by <a href={% url 'profile' post.created_by %}>{{ post.created_by }}</a> | {{ post.comment_count }} comments</div>
        <div class="postpreview">
            <h2><a href={% url 'post_detail' post.subreddit.url post.url %}>{{ post.post_title }}</a></h2>
            <div class="preview-body">
                {% if post.preview != '' %}
                    <p class="preview-text"> {{ post.preview }} </p>
                {% endif %}
                {% if post.post_image.url != None %}
                    <img class="image-preview" src={{ post.post_image.url }}>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        {% if page_obj.paginator.num_pages > 1 %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}